@{
    ViewBag.Title = "ChooseModule";
}

<h2>ChooseModule</h2>

@model Webassistenten_ads_api.Models.DataModel

@{
    ViewBag.Title = "Add a new ad";
}

@{
    byte partnerID = Model.getId();
    IEnumerable<Webassistenten_ads_api.Produkt> prod = Model.GetProducts(partnerID);

}




<h2>Test</h2>
@using (Html.BeginForm("AddNewAd", "Master", FormMethod.Post))
{ 
   <p> velg produkt:</p>
    <label for="ProductId">ProductID</label>
    <select name="ProductId" id="ProductId">
    @foreach (Webassistenten_ads_api.Produkt prodIterator in prod)
    {
        string correctFormat = prodIterator.Produktnavn;
    <option name="@prodIterator.ProduktID" value="@prodIterator.ProduktID">@correctFormat</option>
    }
    </select>
    
    

    <input type="submit" name="Submit" id="Submit" value="Submit" />
}

