@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>
<font color="#FF0000">Dude, you just failed so hard!</font>
Let's try again shall we? Make sure the file uploaded is actually a pdf file.

    
    <p>redirect to upload field and do stuff</p>

