@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<center>
Use this thing to upload shizzle, log in:

    @using (Html.BeginForm("ChooseModule", "Master", FormMethod.Post))
{ 
  
       <label for="id">id</label>
        <input class="text-box single-line" data-val="true" data-val-number="The field Type must be a number." id="id" name="id" type="number" value="" /><br>
    
  <label for="email">Le mail:</label>  
    <input type="text" name="mail"/><br />      
  <label for="email">Le pass:</label>
    
    
    <input type="password" name="password"/><br />
        <input type="submit" name="Submit" id="Submit" value="Log in" />
}
</center>